# Visual Studio
.vs/
*.user
*.suo
*.bak
*.pdb
*.cache
*.log
*.resharper
*.scc

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.sdf
*.vmdk
*.vsv

# NuGet
packages/
*.nupkg
*.zip
*.tar.gz
*.rar

# Test results
TestResults/